.header {
  @include flexCenter();
  padding: 2.4rem;
}

.main {
  @include flexCenter;
  height: 100%;
}

.table {
  height: 56rem;
  width: 112rem;
  background-color: $color-primary;
  border: 5px solid #000;
  border-radius: 13px;
}
