$color-primary: #287850;
$color-secondary: #2c8257;
$color-light: #f7f7f7;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media screen and (max-width: 75em) {
    font-size: 50%;
  }
  @media screen and (max-width: 58em) {
    font-size: 40%;
  }
  @media screen and (max-width: 46em) {
    font-size: 30%;
  }
  // @media screen and (max-width: 36em) {
  //   font-size: 20%;
  // }
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: $color-primary;
  font-family: 'Laila', sans-serif;
}
